:root {
  --color-base-hue: 51;
  --color-danger-hue-offset: rgb(146, 56, 56);
  --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
  --color-background-dark: rgb(0, 0, 0);
  --color-background-light: rgb(66, 66, 66);
  --color-text-light: hsl(var(--color-base-hue), 100%, 70%);
}